{% extends 'PrayerlabsMyprofileBundle::layout.html.twig' %}
{% block body %}
<div class="mainWrapper clearfix">
        <img class="logo" src="{{ asset('bundles/prayerlabsmyprofile/images/logo.png') }}" alt="Logo" />
        <form id="loginForm" method="post" action="{{ path('prayerlabs_validate') }}" accept-charset="utf-8">
        {% for flashMessage in app.session.flashbag.get('notice') %}
          <div style="color: #D8000C;background-color: #FFBABA;">
                  {{ flashMessage }}
          </div>
        {% endfor %}
        <p><input type="email" name="login" placeholder="Email" id="email"/></p> 
        <p><input type="password" name="password" placeholder="Password" id="password"/></p>   
        <p><a class="logIn" href="javascript:void(0);" onclick="javascript:$('form#loginForm').submit();">Log In</a></p>
        </form>
        <p class="sign clearfix"><a href="{{ path('prayerlabs_profile_signup') }}">Sign Up</a></p>
</div>
{% endblock %}