Hi,<br />
Please click on the url to verify the account deletion.<br /><br />
<a href='{{url('prayerlabs_profile_remove_profile')}}'>{{url('prayerlabs_profile_remove_profile')}}</a>
<br /><br />
Thanks<br />
PrayerLabs Team